

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 body{
    background-color: rgb(0, 0, 0);
    color: #fcfcfcfb;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: #fcfcfc;
    text-decoration: none;
    font-weight: 600;
    transition: 1s;
    cursor: default;
    /* opacity: 0; */
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fcfcfc;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
     cursor: default;
    /* opacity: 0; */
    transition: .5s ;
    animation: slideTop .5s ease forwards;
    animation-delay: calc( .2s * var(--i));
}

.navbar a:hover,
.navbar a:active {
    color: aqua;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
    /* animation: slideRight .5s ease forwards; */
    animation-delay: 1s ;
}
.home-content h3{
    margin-bottom: 30px;
    animation: slideRight .5s ease forwards;
    animation-delay: .7s ;
}
.home-content h3 span{
    font-size: 32px;
    font-weight: 700;
    color: #0ef;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop .5s ease forwards;
    animation-delay: .7s ;
}
.home-content h1{
    font-size: 56px;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s ;
}
.home-content p{
    font-size: 16px;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

.home-img img{
    max-width: 300px;
    margin: 20px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s 3s;
}
.social-media{
    display: flex;
    color: #fcfcfc;
    justify-content: space-between;
    width: 45px;
    height: 20px;
    background: transparent;
    /* border: 2px solid #0ef; */
    border-radius: 30%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5 ease;
    animation: slideLeft 5s ease forwards;
    animation-delay: calc( .2s * var(--i)) ;

}
.social-media a:hover{
    background: #0ef;
    color: #0159fc;
    box-shadow: 0 0 2px;
}

.btn{
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 600; 
    animation: slideTop .5s ease forwards;
    animation-delay: .7s ;
}
/* keyframes */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        /* opacity: 0; */
    }

}
@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        /* opacity: 0; */
    }

}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        /* opacity: 0; */
    }

}
@keyframes floatImage {
    0% {
        transform: translateY(0);
        /* opacity: 0; */
    }
    50% {
        transform: translateY(-24px);
        /* opacity: 0; */
    }
    100% {
        transform: translateY(0);
        /* opacity: 0; */
    }

}